body {
  background-color: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 2em;
}

input[type="range"] {
  width: 80%; /* vorher wahrscheinlich schmaler */
  height: 1.5em;
}

input[type="text"] {
  background-color: #222;
  color: white;
  border: 1px solid #444;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 1em;
}

#settings.hidden {
  display: none;
}

li.inactive {
  color: grey;
  text-decoration: line-through;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.word-zone {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.word-wrapper {
  width: 90vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  white-space: nowrap;
  font-size: 6em;
  transition: transform 0.2s ease;
  text-align: center;
}

.control-zone {
  padding: 1.5em;
  text-align: center;
}

#intervalSlider {
  width: 80%;
  height: 1.5em;
}

#intervalLabel {
  margin: 1em 0;
  font-size: 1.2em;
}

button {
  margin-top: 1em;
}
